<div class="portfolio-modal modal fade" id="modal-joke-{{ joke.id }}" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>{{ joke.title }}</h2>
						<hr class="star-primary">
						<img src="{{ asset( 'uploads/jokes/' ~ joke.image.fileName ) }}" class="img-responsive img-centered" alt="">
						<p>{{ joke.text }}</p>
						<ul class="list-inline item-details">
							{#<li>Date:
								<strong><a href="http://startbootstrap.com">{{ joke.date | date('Y/m/d') }}</a>
								</strong>
							</li>#}
							<li>Catégorie:
								<strong><a href="http://startbootstrap.com">{{ joke.category.name }}</a>
								</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
